.list-group-item {
  padding: 1rem 1rem;
}

.productscreen-image {
  width: 100%;
}

.productscreen-imagecontainer {
  display: flex;
  justify-content: center;
}

.productscreen-text > * {
  margin: 0.5rem 0;
}

.productscreen-platform {
  margin-right: 0.5rem;
  background-color: #693668 !important;
}

@media only screen and (max-width: 768px) {
  .productscreen-imagecontainer,
  .productscreen-text,
  .productscreen-cartoptions {
    margin-bottom: 1rem;
  }
  .productscreen-image {
    width: auto;
    height: 40vh;
  }
}
